body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    
}
section{
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
}

.sinBordes{
    border: none;
}

.divSombreado {
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .sombreado {
      background-color: gray;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
      transition: box-shadow 0.3s ease-in-out;
      cursor: pointer;
  }

  .bgGrey{
    background-color: gray;
  }

  .mi-div:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transform: translate(0, -3px);
  }

  .carousel-item img {
    width: 100%;
    height: 300px; /* Establece la altura deseada */
    object-fit: cover; /* Ajusta la imagen para llenar el contenedor */
  }